<div class="flex flex-col items-center">
  <div class="card card-lg bg-base-100 mt-10 w-full max-w-240 shadow-glow">
    <div class="card-body">
      <h2 class="card-title">Profile</h2>

      <%= turbo_frame_tag "profile" do %>
        <div class="mt-6 space-y-6">
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
              <label class="label font-medium">First Name</label>
              <p class="text-lg"><%= @user.first_name %></p>
            </div>

            <div>
              <label class="label font-medium">Last Name</label>
              <p class="text-lg"><%= @user.last_name %></p>
            </div>
          </div>
        </div>

        <div class="justify-end card-actions">
          <%= link_to "Edit", edit_profile_path, class: "btn btn-link" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card card-lg bg-base-100 mt-10 w-full max-w-240 shadow-glow">
    <div class="card-body">
      <h2 class="card-title">Security</h2>

      <%= turbo_frame_tag "security" do %>
        <div class="mt-6 space-y-6">
          <div>
            <label class="label font-medium">Email</label>
            <p class="text-lg"><%= @user.email_address %></p>
          </div>

          <div>
            <label class="label font-medium">Password</label>
            <p class="text-lg">••••••••</p>
          </div>
        </div>

        <div class="justify-end card-actions">
          <%= link_to "Edit", edit_security_profile_path, class: "btn btn-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
