<div class="flex min-h-dvh flex-col items-center justify-center">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="mx-auto h-10 w-auto dark:hidden" />
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="mx-auto h-10 w-auto not-dark:hidden" />
    <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">Sign in to your account</h2>
  </div>

  <div class="card card-dash bg-base-100 mt-10 w-full max-w-120">
    <div class="card-body">
      <%= form_with url: session_path, class: "space-y-6", html: { novalidate: true } do |form| %>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email Address</legend>

          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "input w-full" %>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Password</legend>

          <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "input w-full" %>
        </fieldset>

        <div class="flex justify-end">
          <div class="text-sm/6">
            <%= link_to "Forgot password?", new_password_path, class: "link link-primary link-hover" %>
          </div>
        </div>

        <%= form.submit "Sign in", class: 'btn btn-primary w-full' %>
      <% end %>
    </div>
  </div>
</div>
