<h5 class="card-title text-center text-primary">Sign Up</h5>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :name, autofocus: true, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'name' } %>

  <%= f.input :email, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'username' }, as: 'email' %>

  <%= f.input :password, required: true, label: "Password#{@minimum_password_length ? " (#{@minimum_password_length} characters minimum)" : ""}", wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'new-password' } %>

  <%= f.input :password_confirmation, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'new-password' } %>

  <%= f.button :submit, 'Sign up', class: 'btn-primary w-100' %>
<% end %>

<%= render "devise/shared/links" %>
