<div class="card-header d-flex justify-content-center align-items-center">
  <%= picture_tag do %>
    <%= tag(:source, :srcset => image_path('light/logo.svg'), media: '(prefers-color-scheme: light)') %>
    <%= tag(:source, :srcset => image_path('dark/logo.svg'), media: '(prefers-color-scheme: dark)') %>
    <%= image_tag('light/logo.svg', :alt => 'logo', height: 50) %>
  <% end %>
  <h1 class="text-primary mb-0 ms-2">PayChecQ</h1>
</div>

<div class="card-body">
  <h5 class="card-title text-center text-primary">Sign Up</h5>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :name, autofocus: true, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'name' } %>

    <%= f.input :email, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'username' }, as: 'email' %>

    <%= f.input :password, required: true, label: "Password#{@minimum_password_length ? " (#{@minimum_password_length} characters minimum)" : ""}", wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'new-password' } %>

    <%= f.input :password_confirmation, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'new-password' } %>

    <%= f.button :submit, 'Sign up', class: 'btn-primary w-100' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
