<div class="flex min-h-dvh flex-col items-center justify-center">
  <div>
    <%= image_tag "light/logo.svg", alt: "PayChecQ Logo", class: "mx-auto h-10 w-auto dark:hidden" %>
    <%= image_tag "dark/logo.svg", alt: "PayChecQ Logo", class: "mx-auto h-10 w-auto not-dark:hidden" %>
    
    <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight">Update your password</h2>
  </div>

  <div class="card card-xl bg-base-100 mt-10 w-full max-w-120 shadow-md">
    <div class="card-body">
      <%= form_with url: password_path(params[:token]), method: :put, class: "space-y-6", html: { novalidate: true } do |form| %>
        <%= render "components/password_input", form: form, field: :password, required: true, autofocus: true, autocomplete: "new-password" %>

        <%= render "components/password_input", form: form, field: :password_confirmation, required: true, autocomplete: "new-password" %>

        <%= form.submit "Update password", class: 'btn btn-primary w-full' %>
      <% end %>
    </div>
  </div>

  <p class="mt-10 mb-10 text-center text-sm/6">Back to <%= link_to "Login.", new_session_path, class: "link link-primary link-hover" %></p>
</div>
