<h5 class="card-title text-center text-primary">Log In</h5>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'username' }, as: 'email' %>

  <%= f.input :password, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'current-password' } %>

  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, wrapper_html: { class: 'mb-3' }, as: 'boolean' %>
  <% end %>

  <%= f.button :submit, 'Log in', class: 'btn-primary w-100' %>
<% end %>

<%= render "devise/shared/links" %>
