<%# locals: (funding_schedule:) %>

<%= form_with model: funding_schedule, data: { controller: "funding-schedule-form" } do |f| %>
  <% if funding_schedule.errors.any? %>
    <div class="alert alert-error mb-4">
      <ul class="list-disc list-inside text-sm">
        <% funding_schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "components/text_input", form: f, resource: funding_schedule, field: :name, required: true, autofocus: true %>

  <fieldset class="fieldset mt-4">
    <legend class="fieldset-legend">Cadence</legend>
    <div class="flex flex-col gap-2">
      <% FundingSchedule::CADENCES.each do |cadence| %>
        <label class="flex items-center gap-2 cursor-pointer">
          <%= f.radio_button :cadence, cadence,
                checked: funding_schedule.cadence == cadence,
                class: "radio radio-sm radio-primary",
                data: { action: "change->funding-schedule-form#cadenceChanged", funding_schedule_form_target: "cadenceInput" } %>
          <span class="text-sm"><%= cadence.titleize %></span>
        </label>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="fieldset mt-4">
    <legend class="fieldset-legend">First occurrence</legend>
    <%= f.date_field :start_date,
          required: true,
          value: funding_schedule.start_date,
          class: "input w-full #{funding_schedule.errors[:start_date].any? ? 'input-error' : ''}" %>
  </fieldset>

  <fieldset class="fieldset mt-4 hidden" data-funding-schedule-form-target="secondDayField">
    <legend class="fieldset-legend">Second day of month</legend>
    <%= f.number_field :second_day_of_month,
          value: funding_schedule.second_day_of_month,
          min: 1, max: 31,
          class: "input w-full #{funding_schedule.errors[:second_day_of_month].any? ? 'input-error' : ''}" %>
    <p class="text-xs text-base-content/60 mt-1">For schedules that pay twice a month, the other day of the month (e.g., 15 for a 1st-and-15th schedule).</p>
  </fieldset>

  <div class="flex gap-2 mt-6">
    <%= f.submit class: "btn btn-primary flex-1", data: { controller: "loading-button" } %>
    <%= link_to "Cancel", settings_path, class: "btn btn-ghost flex-1" %>
  </div>
<% end %>
