<!DOCTYPE html>
<html class="h-dvh" lang="en">
  <head>
    <title><%= content_for(:title) || "PayChecQ" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link id="icon-png" rel="icon" type="image/png" href="<%= asset_path 'favicon/light/favicon-96x96.png' %>" sizes="96x96" />
    <link id="icon-svg" rel="icon" type="image/svg+xml" href="<%= asset_path 'favicon/light/favicon.svg' %>" />
    <link id="icon-shortcut" rel="shortcut icon" href="<%= asset_path 'favicon/light/favicon.ico' %>" />
    <link id="icon-apple-touch" rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'favicon/light/apple-touch-icon.png' %>" />

    <meta name="apple-mobile-web-app-title" content="PayChecQ" />
    <meta name="theme-color" content="">

    <script>
      const darkIconPngHref = "<%= asset_path('favicon/dark/favicon-96x96.png') %>";
      const darkIconSvgHref = "<%= asset_path('favicon/dark/favicon.svg') %>";
      const darkIconShortcutHref = "<%= asset_path('favicon/dark/favicon.ico') %>";
      const darkIconAppleTouchHref = "<%= asset_path('favicon/dark/apple-touch-icon.png') %>";

      const darkThemeColor = '#000000';
      const lightThemeColor = '#ffffff';

      const lightIconPngHref = "<%= asset_path('favicon/light/favicon-96x96.png') %>";
      const lightIconSvgHref = "<%= asset_path('favicon/light/favicon.svg') %>";
      const lightIconShortcutHref = "<%= asset_path('favicon/light/favicon.ico') %>";
      const lightIconAppleTouchHref = "<%= asset_path('favicon/light/apple-touch-icon.png') %>";

      function setTheme(isDark) {
        const iconPng = document.querySelector("#icon-png");
        const iconSvg = document.querySelector("#icon-svg");
        const iconShortcut = document.querySelector("#icon-shortcut");
        const iconAppleTouch = document.querySelector("#icon-apple-touch");

        if (isDark) {
          iconPng.href = darkIconPngHref;
          iconSvg.href = darkIconSvgHref;
          iconShortcut.href = darkIconShortcutHref;
          iconAppleTouch.href = darkIconAppleTouchHref;

          document.querySelector('meta[name="theme-color"]').setAttribute('content', darkThemeColor);
        } else {
          iconPng.href = lightIconPngHref;
          iconSvg.href = lightIconSvgHref;
          iconShortcut.href = lightIconShortcutHref;
          iconAppleTouch.href = lightIconAppleTouchHref;

          document.querySelector('meta[name="theme-color"]').setAttribute('content', lightThemeColor);
        }
      }

      setTheme(window.matchMedia('(prefers-color-scheme: dark)').matches);

      document.addEventListener('DOMContentLoaded', function() {
        document.ontouchmove = function() {
          document.activeElement?.blur();
        }
      });
    </script>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme" class="h-dvh">
    <main class="container mx-auto mt-28 px-5 flex">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
