<!DOCTYPE html>
<html lang="en" class="min-h-dvh bg-base-300">
  <head>
    <title><%= content_for(:title) || "PayChecQ" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PayChecQ">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" id="favicon" href="<%= asset_path('light/logo.svg') %>" type="image/svg+xml">

    <script nonce="<%= content_security_policy_nonce %>">
      (function() {
        const favicon = document.getElementById('favicon');
        const darkIcon = '<%= asset_path("dark/logo.svg") %>';
        const lightIcon = '<%= asset_path("light/logo.svg") %>';
        const matcher = window.matchMedia('(prefers-color-scheme: dark)');

        function updateFavicon(matcher) {
          favicon.href = matcher.matches ? darkIcon : lightIcon;
        }

        matcher.addEventListener('change', updateFavicon);

        updateFavicon(matcher);
      })();
    </script>

    <%= favicon_link_tag "light/logo.svg", rel: "apple-touch-icon" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-dvh">
    <%= render "components/alert", type: "error", message: flash[:alert] if flash[:alert] %>
    <%= render "components/alert", type: "success", message: flash[:notice] if flash[:notice] %>

    <%= yield %>
  </body>
</html>
