<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="<%= params[:mode] %>">
  <head>
    <title>PayChecQ</title>

    <%= favicon_link_tag asset_path('/light/light-logo.png'), id: "favicon" %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-100">
    <%= render "layouts/navigation" %>

    <%= yield %>
  </body>
</html>
