<!DOCTYPE html>
<html class="h-dvh bg-gray-50 dark:bg-neutral-800" lang="en">
  <head>
    <title><%= content_for(:title) || "PayChecQ" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link id="icon-png" rel="icon" type="image/png" href="<%= asset_path 'favicon/light/favicon-96x96.png' %>" sizes="96x96" />
    <link id="icon-svg" rel="icon" type="image/svg+xml" href="<%= asset_path 'favicon/light/favicon.svg' %>" />
    <link id="icon-shortcut" rel="shortcut icon" href="<%= asset_path 'favicon/light/favicon.ico' %>" />
    <link id="icon-apple-touch" rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'favicon/light/apple-touch-icon.png' %>" />

    <meta name="apple-mobile-web-app-title" content="PayChecQ" />
    <meta name="theme-color" content="">

    <script>
      const darkIconPngHref = "<%= asset_path('favicon/dark/favicon-96x96.png') %>";
      const darkIconSvgHref = "<%= asset_path('favicon/dark/favicon.svg') %>";
      const darkIconShortcutHref = "<%= asset_path('favicon/dark/favicon.ico') %>";
      const darkIconAppleTouchHref = "<%= asset_path('favicon/dark/apple-touch-icon.png') %>";

      const darkThemeColor = '#404040';
      const lightThemeColor = '#ffffff';
      const deviseDarkThemeColor = '#262626';
      const deviseLightThemeColor = '#f9fafb';

      const lightIconPngHref = "<%= asset_path('favicon/light/favicon-96x96.png') %>";
      const lightIconSvgHref = "<%= asset_path('favicon/light/favicon.svg') %>";
      const lightIconShortcutHref = "<%= asset_path('favicon/light/favicon.ico') %>";
      const lightIconAppleTouchHref = "<%= asset_path('favicon/light/apple-touch-icon.png') %>";

      function setTheme(isDark, isDeviseController) {
        const iconPng = document.querySelector("#icon-png");
        const iconSvg = document.querySelector("#icon-svg");
        const iconShortcut = document.querySelector("#icon-shortcut");
        const iconAppleTouch = document.querySelector("#icon-apple-touch");

        if (isDark) {
          iconPng.href = darkIconPngHref;
          iconSvg.href = darkIconSvgHref;
          iconShortcut.href = darkIconShortcutHref;
          iconAppleTouch.href = darkIconAppleTouchHref;

          if (isDeviseController === 'true') {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', deviseDarkThemeColor);
          } else {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', darkThemeColor);
          }
        } else {
          iconPng.href = lightIconPngHref;
          iconSvg.href = lightIconSvgHref;
          iconShortcut.href = lightIconShortcutHref;
          iconAppleTouch.href = lightIconAppleTouchHref;

          if (isDeviseController === 'true') {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', deviseLightThemeColor);
          } else {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', lightThemeColor);
          }
        }
      }

      setTheme(window.matchMedia('(prefers-color-scheme: dark)').matches, '<%= devise_controller? %>');

      document.addEventListener('DOMContentLoaded', function() {
        document.ontouchmove = function() {
          document.activeElement?.blur();
        }
      });
    </script>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme" data-theme-is-devise-controller="<%= devise_controller? %>" class="h-dvh <%= devise_controller? ? '' : 'pt-16' %>">
    <%- if notice.present? %>
      <%= render 'components/notification', notification: notice, type: :notice %>
    <% end %>

    <%- if alert.present? %>
      <%= render 'components/notification', notification: alert, type: :alert %>
    <% end %>

    <%- unless devise_controller? %>
      <%=  render 'components/navigation'  %>
    <%- end %>

    <%- if devise_controller? %>
      <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    <%- else %>
      <%= yield %>
    <%- end %>
  </body>
</html>
